<header class="header">
    <section class="section p-20 grid cols-3">
        <div class="menu-btn link row gap-8">
            <span class="symbol">menu</span>
            <span class="text">MENU</span>
        </div>

        <a href="/index.html" class="logo-content link center">
            <img src="../assets/icons/logo.png" alt="LOGO" class="logo">
        </a>

        <div class="quick-nav row h-en gap-12">
            <a href="/work/" class="link symbol">handshake</a>
            <a href="/coding-greatness/#featured-projects" class="link symbol">folder_code</a>
        </div>
    </section>
</header>

<nav class="nav column h-sb gap-20 p-20">
    <div class="menu-btn link row gap-8">
        <span class="symbol">close</span>
        <span class="text">Close</span>
    </div>

    <ul class="list column gap-20 text-right">
        <li><a href="/coding-greatness/" class="link uppercase">Coding the greatness</a></li>
        <li><a href="/projects/" class="link uppercase">Projects</a></li>
        <li><a href="/work/" class="link uppercase">Work with me</a></li>
        <li><a href="/about/" class="link uppercase">About coderadi</a></li>
        <li><a href="/contact/" class="link uppercase">Contact</a></li>
    </ul>

    <div class="row">
        <span class="mini text-muted uppercase spacing-2">coderadi</span>
    </div>
</nav>